@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&display=swap');

:root, body, html {
  font-size: 16px;
  font-family: 'IBM Plex Serif', sans-serif;
}

/* text */

h1, h2, h3, h4, code, pre, button {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  margin: 0 0 1rem;
}

a {
  color: hsl(0, 60%, 50%); /* muted red */
  text-decoration-style: dotted;
}

a:hover {
  color: hsl(25, 100%, 50%); /* bright orange */
  text-decoration-style: solid;
  outline: none;
}

a:visited, a:active {
  color: hsl(0, 100%, 50%); /* bright red */
  text-decoration-style: dashed;
}

/* ui */

button {
  --color: hsl(200, 75%, 50%);
  color: var(--color);
  border: 1pt var(--color) dashed;
  padding: 0.5rem 1rem;
  background: transparent;
  box-shadow: 0 0 1pt rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button:hover, button:focus {
  --color: hsl(200, 75%, 50%);
  border-style: solid;
  outline: none;
  box-shadow: 0 0 2pt rgba(0, 0, 0, 0.25);
}

/* sections */

header, footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer {
  padding: 4rem 0 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

main {
  max-width: 100vw;
  width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* content */

main .cooking-dish {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 12rem 1fr;
  margin: 1rem 0;
}

main .cooking-dish:nth-child(2n+1) {
  direction: rtl;
}

main .cooking-dish:nth-child(2n+1) * {
  direction: initial;
}

main .cooking-dish img {
  grid-row: 1 / 3;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .cooking-dish h3 {
  grid-row: 1;
  grid-column: 2;
  margin: 1rem 1rem 1rem;
}

main .cooking-dish .blurb {
  grid-row: 2;
  grid-column: 2;
  margin: 0 1rem;
}
