$mono-font: 'IBM Plex Mono', monospace;

h1, h2, h3, h4, code, pre, button {
  font-family: $mono-font;
}

h1, h2 {
  margin: 0 0 0.5em;
  line-height: 1.5;
}

h3, h4 {
  margin: 0 0 0.5em;
  line-height: 1.25;
}

p {
  margin: 0 0 1rem;
  line-height: 1.5;
}

a {
  color: hsl(0, 75%, 50%); // muted red
  text-decoration-style: dotted;
}

a:hover, a:focus {
  color: hsl(25, 100%, 50%); // bright orange
  text-decoration-style: solid;
  outline: none;
}

a:visited, a:active {
  color: hsl(0, 100%, 50%); // bright red
  text-decoration-style: dashed;
}
