@use 'sass:color';
@use 'text';

$accent-interactive: hsl(200, 75%, 50%);
$accent-interactive-hover: color.scale($accent-interactive, $lightness: 20%);

button {
  --accent: #{$accent-interactive};

  padding: 0.5rem 1rem;
  color: var(--accent);
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 0 2pt var(--accent);
  cursor: pointer;
}

button:hover, button:active {
  --accent: #{$accent-interactive-hover};
  
  border: 1px solid var(--accent);
  box-shadow: 0 0 4pt var(--accent);
}

button:disabled {
  --accent: grey;
  border: var(--accent) solid 1px;
  box-shadow: none;
  cursor: initial;
}

input[type=text], textarea {
  --accent: #{$accent-interactive};
  padding: 0.5rem;
  color: inherit;
  font-family: inherit;
  background: var(--background-saturated);
  border: 1px var(--accent) solid;
  box-shadow: 0 0 1pt rgba(0, 0, 0, 0.25);
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: box-shadow;

  &:focus {
    --accent: #{$accent-interactive-hover};
    outline: none;
    box-shadow: 0 0 4pt rgba(0, 0, 0, 0.25);
  }

  .show-validation &:invalid, &.show-validation:invalid {
    --accent: red;
    background-image: radial-gradient(circle at right 1rem top 1.25em, red 3px, transparent 4px);
  }
}

.input-label {
  --accent: #{$accent-interactive};
  position: relative;
  max-height: 2em;
  margin-top: 1rem;
  padding: 0 0 1rem;
  color: var(--accent);
  font-size: 0.9em;
  font-family: text.$mono-font;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: max-height, opacity, padding;

  &.soft.empty {
    max-height: 0em;
    padding: 0;
    opacity: 0;
  }
}
