@use 'responsive';
@use 'theme';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&display=swap');

:root, body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'IBM Plex Serif', sans-serif;
}

body {
  color: var(--color);
  background-color: var(--background);
  background-image: url('~@res/img/noise.png');
  background-blend-mode: difference;
}

* {
  box-sizing: border-box;
}

/* text */

h1, h2, h3, h4, code, pre, button {
  font-family: 'IBM Plex Mono', monospace;
}

h1, h2 {
  margin: 0 0 0.5em;
  line-height: 1.5;
}

h3, h4 {
  margin: 0 0 0.5em;
  line-height: 1.25;
}

p {
  margin: 0 0 1rem;
  line-height: 1.5;
}

a {
  color: hsl(0, 75%, 50%); // muted red
  text-decoration-style: dotted;
}

a:hover, a:focus {
  color: hsl(25, 100%, 50%); // bright orange
  text-decoration-style: solid;
  outline: none;
}

a:visited, a:active {
  color: hsl(0, 100%, 50%); // bright red
  text-decoration-style: dashed;
}

/* ui */

button {
  --accent: hsl(200, 75%, 50%);

  padding: 0.5rem 1rem;
  color: var(--accent);
  background: var(--background);
  border: 1pt var(--accent) dashed;
  box-shadow: 0 0 1pt rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button:hover, button:focus {
  --accent: hsl(200, 100%, 60%);
  border-style: solid;
  outline: none;
  box-shadow: 0 0 2pt rgba(0, 0, 0, 0.25);
}

/* sections */

header, footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  padding: 4rem 0;
}

footer {
  padding: 4rem 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

main {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: var(--background);
  border: 1px solid hsla(0, 0%, 50%, 50%); // 50% grey
  border-width: 1px 0;

  @media screen and (min-width: 50rem) {
    border-width: 1px;
  }

  @media screen and (min-width: responsive.$break-mobile) {
    padding: 3rem 4rem;
  }
}

.hero {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%; // don't use 100vw, that will cause horizontal scrollbar
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
