@use 'responsive';
@use 'theme';
@use 'text';
@use 'ui';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&display=swap');

:root, body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'IBM Plex Serif', sans-serif;
}

body {
  color: var(--color);
  background-color: var(--background);
  background-image: url('~@res/img/noise.png');
  background-blend-mode: difference;
}

* {
  box-sizing: border-box;
}

/* sections */

header, footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  padding: 4rem 0;
}

footer {
  padding: 4rem 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

main {
  @extend %content-section;
}

%content-section {
  width: var(--page-width);
  max-width: 100%;
  margin: 2rem auto;

  padding: 3rem var(--page-padding);
  background-color: var(--background);
  outline: 1px solid hsla(0, 0%, 50%, 50%); // 50% grey
}

:root {
  --page-padding: 2rem;
  --page-width: 50rem;

  @media screen and (min-width: responsive.$break-mobile) {
    --page-padding: 4rem;
  }
}

.hero {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%; // don't use 100vw, that will cause horizontal scrollbar
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
