@use '../index';
@use '../responsive';

.comments {
  @extend %content-section;

  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;

  h2 {
    margin-bottom: 1rem;
    padding: 0 var(--page-padding) 2rem;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .comment {
    padding: 1rem var(--page-padding);
    border-color: hsla(0, 0%, 50%, 50%); // 50% grey
    border-style: dashed;
    border-width: 0 0 1px;

    .name {
      font-weight: bold;
      
      &::after { content: ' • '; }
    }

    .upvotes {
      opacity: 0.5;
    }

    .downvotes {
      opacity: 0.5;
    }
  }

  .comments-controls {
    display: flex;
    justify-content: flex-end;
    margin: 0 -1rem 0;
    padding: 1rem var(--page-padding);

    * {
      margin: 0 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 var(--page-padding);

    #comment-submit {
      align-self: flex-end;
      margin: 2rem 0;
    }
  }
}
