#project-section {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -2rem;
  padding: 1rem 0 2rem;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  -webkit-mask-image: linear-gradient(to right, transparent, white 1rem, white calc(100% - 1rem), transparent);
  mask-image: linear-gradient(to right, transparent, white 1rem, white calc(100% - 1rem), transparent);
}

.project-item {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 100vw;
  max-width: 30rem;
  padding: 0 1rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.project-content {
  max-width: var(--page-width);
  padding: 1rem;
  // TODO: change when PR #23 merges
  // background: var(--background-saturated);
  background: white;
  box-shadow: 0 0 4pt rgba(0, 0, 0, 0.25);
  content: ' ';
}

.project-stats {
  position: relative;
  top: -0.5rem;
  margin: 0;
  padding: 0;
  font-style: italic;
  list-style: none;
  opacity: 0.8;

  li {
    display: inline-block;

    &:not(:first-child)::before {
      margin: 0 0.25em;
      content: '\2022';
    }
  }
}
