#index-hero {
  margin-bottom: -10rem;
  background-image: url('~@res/img/me/lake.jpg');
  // position at 30% so my face is not cut off
  background-position: center 30%;

  h1 {
    margin: 0 1rem;
    color: white; // should not change with theme
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 16pt rgba(0, 0, 0, 0.5);
    user-select: none;
  }
}

#index-main {
  .theme-switcher {
    float: right;
  }
}

