{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": "last 1 year and > 0.25%",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript"
  ]
}
