{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": "> 0.25% and not dead",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
