@function bottom-fade($margin: 0) {
  @return linear-gradient(to top, transparent, white $margin);
}

.readmore {
  overflow: hidden;
  transition: max-height 0.25s ease-in-out, mask-image, -webkit-mask-image;
  -webkit-mask-image: bottom-fade(0rem);
  mask-image: bottom-fade(0rem);

  &.collapsed {
    min-height: 5rem;
    max-height: 8rem;
    -webkit-mask-image: bottom-fade(3rem);
    mask-image: bottom-fade(3rem);
  }
}
